#
# (C) COPYRIGHT 2014 ARM Limited. All rights reserved.
#
# This program is free software and is provided to you under the terms of the
# GNU General Public License version 2 as published by the Free Software
# Foundation, and any use by you of this program is subject to the terms
# of such GNU licence.
#
# A copy of the licence is included with the program, and can also be obtained
# from Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
# Boston, MA  02110-1301, USA.
#
#

menuconfig MALI_MIDGARD_5422
	bool "5422 settings"
	depends on MALI_MIDGARD
	default y if MALI_PLATFORM_THIRDPARTY_NAME = "5422"
	help
	  Control 5422 specific options for the ARM Mali Midgard GPU.

config DYNIMIC_ABB
	bool "Enable dynimic abb"
	depends on MALI_MIDGARD_5422
	default n
	help
		Select this option to enable dynimic abb.



