#
# Secure OS control configuration
#
config SECURE_OS_CONTROL
	bool "Secure OS control"
	depends on MOBICORE_DRIVER
	---help---
	  Enable Secure OS control sysfs.
	  It can migrate a core that executes secure OS tasks
	  and check a current core on secure OS.
