	dp0: display@200000 {
		compatible = "arm,mali-dp550";
		reg = <0x200000 0x20000>;
		memory-region = <&display_reserved>;
		interrupts = <168>, <168>;
		interrupt-names = "DE", "SE";
		iommus = <&smmu_fpga0 0x8>,
			 <&smmu_fpga0 0x9>,
			 <&smmu_fpga0 0xa>,
			 <&smmu_fpga0 0xb>,
			 <&smmu_fpga0 0xc>;
		clocks = <&fpgaosc2>, <&dpu_mclk>, <&dpu_aclk>, <&dpu_aclk>;
		clock-names = "pxlclk", "mclk", "aclk", "pclk";
		arm,malidp-output-port-lines = /bits/ 8 <8 8 8>;
		status = "disabled";
		port {
			dp0_out: endpoint {

			};
		};
	};

	dp1: display@220000 {
		compatible = "arm,mali-dp550";
		reg = <0x220000 0x20000>;
		memory-region = <&display_reserved>;
		interrupts = <168>, <168>;
		interrupt-names = "DE", "SE";
		iommus = <&smmu_fpga1 0x408>,
			 <&smmu_fpga1 0x409>,
			 <&smmu_fpga1 0x40a>,
			 <&smmu_fpga1 0x40b>,
			 <&smmu_fpga1 0x40c>;
		clocks = <&fpgaosc2>, <&dpu_mclk>, <&dpu_aclk>, <&dpu_aclk>;
		clock-names = "pxlclk", "mclk", "aclk", "pclk";
		arm,malidp-output-port-lines = /bits/ 8 <8 8 8>;
		status = "disabled";
		port {
			dp1_out: endpoint {

			};
		};
	};
