menu "ODROID Specific Hardware"

config ODROID_EXYNOS5_FAN
	tristate "Enable the PWM Controlled FAN on ODROID-EXYNOS5"
	depends on MACH_ODROIDXU3
	default y
	---help---
		Enables the PWM Controlled FAN on ODROID-EXYNOS5

config ODROID_EXYNOS5_SP
	tristate "Enable the INA231 Sensor on ODROID-EXYNOS5"
	depends on MACH_ODROIDXU3
	default n
	---help---
		Enables the INA231 Sensor on ODROID-EXYNOS5

config ODROID_EXYNOS5_IOBOARD
    tristate "Enable the ODROID EXYNOS5 IOBOARD Drivers"
	depends on MACH_ODROIDXU3
	default n
	---help---
		Enables the IOBOARD Drivers

config ODROID_EXYNOS5_IOBOARD_DEBUG
    bool "Enable the ODROIDXU IOBOARD DEBUG Enable"
	depends on ODROID_EXYNOS5_IOBOARD
	default n
	---help---
		Enables the IOBOARD Debug Message

endmenu

